Exercise



Use famous iris flower dataset from sklearn.datasets to predict flower species using random forest classifier.

Measure prediction score using default n_estimators (10)
Now fine tune your model by changing number of trees in your classifer and tell me what best score you can get using how many trees

In [5]:
from sklearn.datasets import load_iris
iris= load_iris()

In [6]:
dir(iris)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [7]:
import pandas as pd

In [10]:
df= pd.DataFrame(iris.data,columns=iris.feature_names)

In [11]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [12]:
df['target']=iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [13]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(["target"] ,axis='columns'),iris.target,test_size=0.2)

In [24]:
 from sklearn.ensemble import RandomForestClassifier

In [25]:
model= RandomForestClassifier()

In [26]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [28]:
model.score(X_test,y_test)

0.9333333333333333

In [32]:
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.9333333333333333