In [1]:
'''
1. only if condition
if (condition):
    code line1
    code line2

2. if-else
if (condition):
    code line1
    code line2
else:
    code line1
codeline2
    
3. if elif
if (condition):
    code line1
    code line2
elif (condition): #elif (condition):
    code line1
else:
    code
    
4 nested if else statement:
if condition1:
    if condition2:
        if condition3:
            if condition4:
                some code
        code line 1
    else:
        condition1 is true but condition 2 is not met/false
elif condition2:
    condition1 is not met but condition2 is true/met
else:
    condition1 is not met but condition2 is not true/met
        
    
''' 

age=23
salary=22000

if age>=18:
    if salary>25000:
        print("you are eligible for Cerdit card")
    else:
        print("you are not eligible for credit card")
elif salary>25000:
    print("Age not met but salary eligible")
else:
    print("salary not met your age is eligible")

you are not eligible for credit card

In [2]:
#check multiple conditions in one statement:
# if conditon1 and condition2:
#     print("All condition are true")
    
# if condition1 or condition2:
#     print("any one/all codition met")
    
grade=79
if grade>=90:
    print("A")
elif grade>=80 and grade<=90:
    print("B")
elif grade>=70 and grade<=80:
    print("C")
else:
    print("Failed")

C

In [7]:
'''
For loop:
for iterator in iterator_value/interable objects/sequence: [1,2,3,4,5], (1,2,3,4,5), 'string', range(1,5)=[1,2,3,4]
    if else statement or if elif else
    code line 1
    code line 2
    
for student in class:
    write name in notebook
    
for i in list:
    pass
'''
for iterator in [1,2,3,4,5,6,7,8,9,10]:
    print(iterator)

1
2
3
4
5
6
7
8
9
10

In [11]:
for i in "KAPIL":
    print(i)

K
A
P
I
L

In [12]:
for i in "KAPIL":
    print(i, end=" ")

K A P I L

In [13]:
for i in "KAPIL":
    print(i, end=",")

K,A,P,I,L,

In [15]:
stair_count = 0
stairs = ['stair1','stair1','stair1','stair1','stair1','stair1']
for i in stairs:
    stair_count=stair_count+1
print(stair_count)

6

In [16]:
for i in str(1000):
    print(i)

1
0
0
0

In [17]:
dict= {"key1":"value1", "key2":"value2"}
print(dict)

{'key1': 'value1', 'key2': 'value2'}