In [3]:
def fun(a):
    return a+2

In [4]:
list(map(fun,[10,20,30]))

[12, 22, 32]

In [5]:
def fun2(a):
    if a > 0:
        return True
    else:
        return False

In [6]:
list(filter(fun2,[-9,5,-5,3,2,-1,0]))

[5, 3, 2]

In [6]:
list(filter(lambda a: True if a>0 else False,[-9,5,-5,3,2,-1,0]))

[5, 3, 2]

In [7]:
list(map(fun2,[-9,5,-5,3,2,-1,0]))

[False, True, False, True, True, False, False]

In [ ]:
'python' => True
'fly' => False

vowels = 'aeiou'
# using lambda expression

In [8]:
x = 'python'

# print('a' in x)
# print('e' in x)
# print('i' in x)
# print('o' in x)
# print('u' in x)

print('a' in x or 'e' in x or 'i' in x or 'o' in x or 'u' in x)

True

In [8]:
y = lambda x : 'a' in x or 'e' in x or 'i' in x or 'o' in x or 'u' in x

In [9]:
y('strr')

False

In [10]:
y('sky')

False

In [11]:
y('apple')

True

In [12]:
list(filter(lambda x : x%2==0,[1,2,4,5,19,22,24,35,299,300]))

[2, 4, 22, 24, 300]

In [13]:
# lambda functions are also known as nameless functions.

list(map(lambda x : x%2==0,[1,2,4,5,19,22,24,35,299,300]))

[False, True, True, False, False, True, True, False, False, True]

In [14]:
list(map(lambda x : 'even' if x%2==0 else 'odd',[1,2,4,5,19,22,24,35,299,300]))

['odd', 'even', 'even', 'odd', 'odd', 'even', 'even', 'odd', 'odd', 'even']

In [15]:
ids = [23,34,1,10,20,3,100]
sorted(ids)

[1, 3, 10, 20, 23, 34, 100]

In [20]:
ids = ['#23','#34','#1','#10','#20','#3','#100']
sorted(ids)

['#1', '#10', '#100', '#20', '#23', '#3', '#34']

In [16]:
def fun(a):
    return int(a[1:])

In [17]:
fun('#100')

100

In [18]:
fun('#23')

23

In [25]:
ids = ['#23','#34','#1','#10','#20','#3','#100']
sorted(ids,key=fun)

['#1', '#3', '#10', '#20', '#23', '#34', '#100']

In [28]:
ids = ['#23','#34','#1','#10','#20','#3','#100']

sorted(ids,key= lambda a: int(a[1:]))

['#1', '#3', '#10', '#20', '#23', '#34', '#100']

In [ ]:
## List Comprehensions
# Short way or one line way of making a list with some logic
Syntax:
    [write code inside these]

In [29]:
list1 = [1,23,43,54,65,78]

even_list = []

for i in list1:
    if i %2==0:
        even_list.append(i)

print(even_list)

[54, 78]

In [31]:
even_list = [ i for i in list1 if i%2==0]
print(even_list)

[54, 78]

In [32]:
['apple' for i in range(3)]

['apple', 'apple', 'apple']

In [33]:
['apple'+ str(i) for i in range(3)]

['apple0', 'apple1', 'apple2']

In [1]:
x = ['apple','kiwi','mango','apricot','avocado','pineapple','grapes']

y= [i for i in x if i[0]=='a']
print(y)

['apple', 'apricot', 'avocado']

In [3]:
x = ['apple','kiwi','mango','apricot','avocado','pineapple','grapes']

y =[i for i in x if i[0]=='a']
print(y)

['apple', 'apricot', 'avocado']

In [40]:
x = ['apple',200,(1,2),{'python':3,'java':8},'mango','kiwi',34.56]


y = [i for i in x if type(i)==str]
print(y)

['apple', 'mango', 'kiwi']

In [41]:
# Another way of list comprehension
# if else

In [4]:
x = [1,2,55,67,80]
y = ['odd','even','odd','odd','even']

In [5]:
def f(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'

In [7]:
x = [1,2,55,67,80]

y = ['even' if i%2 ==0 else 'odd' for i in x]
print(y)

['odd', 'even', 'odd', 'odd', 'even']

In [47]:
# zip

In [8]:
l1 = [1,2,3,4,5]
l2 = [10,20,30,40,50]

list(zip(l1,l2))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [9]:
l1 = [1,2,3,4,5]
l2 = [10,20,30,40]

list(zip(l1,l2))

[(1, 10), (2, 20), (3, 30), (4, 40)]

In [10]:
for val1,val2 in zip(l1,l2):
    print(val1+val2)

11
22
33
44

In [11]:
[val1+val2 for val1,val2 in zip(l1,l2)]

[11, 22, 33, 44]

In [12]:
x1 = ['app','rap','map','tap']
x2 = ['solo','polo','rolo','moto','toto']

list(zip(x1,x2))

[('app', 'solo'), ('rap', 'polo'), ('map', 'rolo'), ('tap', 'moto')]

In [56]:
x1 = ['app','rap','map','tap']
x2 = ['solo','polo','rolo','moto','toto']
x3 = [1,2,3]

list(zip(x1,x2,x3))

[('app', 'solo', 1), ('rap', 'polo', 2), ('map', 'rolo', 3)]

In [57]:
e = {'python':3,'java':8}
f = {'toto':4,'moto':5}

dict(zip(e,f))

{'python': 'toto', 'java': 'moto'}

In [58]:
# nested loop in list comprehension

In [59]:
y = []
for i in [10,5,3]:
    for j in range(1,11):
        y.append(i*j)

In [60]:
print(y)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [62]:
y = [i*j for i in[11,12,13] for j in range(1,11)]
print(y)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 13, 26, 39, 52, 65, 78, 91, 104, 117, 130]

In [ ]:
NOTE: YOU CAN CONVERT EVERY LIST COMPREHENSION INTO NORMAL CODE
    
    BUT 
    
    YOU CAN NOT CONVERT EVERY FOR LOOP AND OTHER CODE INTO LIST
    COMPREHENSION

In [ ]:
COMPREHENSION
NOTE2: YOU CAN CONVERT EVERY LAMDA FUNCTION INTO NORMAL FUNCTION
    
    BUT VICE-VERSA IS NOT TRUE

In [67]:
# DICT COMPREHENSION
list1 = ['apple','python','django','celery','cucumber']

In [66]:
{ i :len(i) for i in list1 }

{'apple': 5, 'python': 6, 'django': 6, 'celery': 6, 'cucumber': 8}

In [68]:
list1 = [(10,20),(30,40),(50,60),(70,80)]

{i[0]:i[1] for i in list1}

{10: 20, 30: 40, 50: 60, 70: 80}

In [69]:
data = {'q1': {'question': 'What is docstring?',
               'options':
               ['multiline comment','none of these','documenting function'],
              'answer':'documenting function'
              },
       'q2': {'question': 'Which is actual space station?',
             'options':
             ['ISS','ISI','RAW'],
             'answer':'ISS'},
       'q3': {'question': 'What is 1+4?',
             'options':['4','5','6'],
             'answer':'5'}}

In [70]:
print('quiz')
for question in data:
    print(data[question]['question'])
    for i,option in enumerate(data[question]['options']):
        print(i,option)
        
print('\nanswers sheet')
for question in data:
    print(data[question]['answer'])

quiz
What is docstring?
0 multiline comment
1 none of these
2 documenting function
Which is actual space station?
0 ISS
1 ISI
2 RAW
What is 1+4?
0 4
1 5
2 6

answers sheet
documenting function
ISS
5

In [73]:
data = {'india':{'population':1380000000,
                 'gender_ratio':1.02},
        'china':{'population':1400000000,
                 'gender_ratio':0.95}
       }
for country_name in data:
    print(data[country_name]['population'])

1380000000
1400000000

In [74]:
for country_name in data:
    print('The population of ',country_name,
          ' is',data[country_name]['population'])
    print('The gender_ratio of ',country_name,
      ' is',data[country_name]['gender_ratio'])

The population of  india  is 1380000000
The gender_ratio of  india  is 1.02
The population of  china  is 1400000000
The gender_ratio of  china  is 0.95